

.container{
    width:90%;
    max-width:1000px;
    margin:0 auto;
    padding-bottom:30px;

}

.final {
  position:relative;
  top:-15px;
  left:-15px;
}

.center{
    text-align:center;
}

.info-page {
  border:1px solid gray;
  padding:10px;
  background-color:white;
  margin-bottom:50px;
  width:500px;
}

h1{
    color:#FF4F60;
    font-family: 'Roboto', serif;
}

h2{
    font-family: 'Roboto', 'serif';
    color:#606061;
}

p, div, span {
    font-family: 'Roboto', 'serif';
    color:#606061;
}

button:hover{
  opacity:0.5 !important;
}

.button {
    
    font-size:25px;
    margin-top:10px;
    width: 60px !important;
    display:inline-block !important;
    margin-top: 15px !important;
    border-radius:30px !important;
    
}

a {
  text-decoration:none !important;
}



.left {
    background-color:#FF4F60 !important;
    color:white !important;
}

.right {
    background-color:#00D694 !important;
    color:white !important;
}

.middle {
    background-color:#FFCF5A !important;
    color:white !important; 
}

/*
*For swiping
*/

#container {

  width: 500px;
  margin: auto !important;
  display: block;
  height: 500px;
  position: relative;
  list-style-type: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}
.buddy {
  display: none;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(0,0,0,0.2);
  color: #fff;
  padding: 5px;
  padding-bottom: 200px;
  width: 460px;
  height: 360px;
  position: absolute;
  cursor: hand;
}
.info{
    color:black;
}
.rotate-left {
  transform: rotate(30deg) scale(0.8);
  transition: 1s;
  margin-left: 400px;
  cursor: e-resize;
  opacity: 0;
  z-index: 10;
}
.rotate-right {
  transform: rotate(-30deg) scale(0.8);
  transition: 1s;
  opacity: 0;
  margin-left: -400px;
  cursor: w-resize;
  z-index: 10;
}
.avatar {
  background: #222;
  width: 440px;
  height: 340px;
  display: block;
  margin-top: 10px;
  margin-left: 10px;
  background-size: auto 100% !important;
  background-position: center;
  background-repeat: no-repeat;
}

.like {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid green;
  color: green;
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
  top: 50px;
  right: 40px;
  text-shadow: none;
}
.dislike {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid red;
  color: red;
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
  top: 50px;
  left: 40px;
  text-shadow: none;
}



