.container{
    width:90%;
    max-width:1000px;
    margin:0 auto;
    border: 1px solid;
    padding-bottom:30px;
}

.center{
    text-align:center;
}

h1{
    color:#FF4F60;
    font-family:'Roboto', 'sans-serif';
}

h2{
    font-family: 'Alegreya', 'serif';
}

p, div {
    font-family: 'Alegreya', 'serif';
}

.button {
    
    font-size:25px;
    margin-top:10px;
    
}

.left {
    background-color:#FF4F60;
    color:white;
}

.right {
    background-color:#00D694;
    color:white;
}

.middle {
    background-color:#FFCF5A;
    color:white;
    
}



